


header{
    height: 20vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
}

header > nav {
    width: 70%
}

nav > ul > li{
    display: inline-block;
    text-align: center;
    margin: 14px;
    font-family: "sans-seriff";
    font-size: 20px;
    color: #025157

}

nav > ul > li > a{
    text-decoration: none;

}

div{
    width: 70%;
    display: inline-block;
}

nav{
    text-align: center;
}


.actions{
    width: 15%;
    text-align: center;
}

#logo{
    width: 15%;
    text-align: center;

}

button{
    background-color:  #025157;
    border-radius: 5px;
    border: none;
    margin: 10px;
    color: #fff;
    padding: 10px;
}

.actions > a{
    color:  #025157;
    text-decoration: none;
    
}

